* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: transparent;
}

button {
	font: inherit;
}

html,
body {
	height: 100vh;
}

body {
	font-size: 1.2rem;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

header {
	display: flex;
	gap: 2rem;
	text-transform: uppercase;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-weight: bold;
	font-size: 0.75rem;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;

	> div {
		background-color: ghostwhite;
		border-radius: 5px 5px 0 0;
		padding: 0.25rem 0.5rem;
		text-align: center;
		width: 10em;
		color: darkgray;

		span {
			color: black;
		}
	}
}

dialog:open {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	border: solid 1px black;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
	width: min(90vw, 500px);

	.title {
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
		padding: 1rem 1rem 0;
	}

	.content {
		padding: 0 1rem;
	}

	p + p {
		margin-top: 0.75rem;
	}

	button {
		border: none;
		border-top: solid 1px black;
		width: 100%;
		padding: 1rem;
		text-align: center;
		background-color: ghostwhite;
	}

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(5px);
	}
}

.path {
	display: flex;
	width: 100%;

	> * {
		flex: 1;
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;

		&.active::before {
			content: "🦄";
			background-color: white;
			padding: 0.25rem;
			border-radius: 5rem;
			margin: 0.75rem;
		}
	}
}

.colors {
	display: flex;
	width: 100%;
	flex: 1;
}

color-bar {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;

	.target {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 4rem;

		div {
			display: none;
			background-color: white;
			padding: 1rem;
			border-radius: 5rem;
			margin: 0.75rem;
		}
	}

	&[active="true"] .target div {
		display: block;
	}

	button {
		position: fixed;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);
		padding: 1rem;
	}
}

user-video {
	overflow: hidden;
	position: relative;
	display: block;

	video,
	.frozen-frame {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.avg-col {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2rem;
	}

	.sample-marker {
		position: absolute;
		border: 2px solid white;
		outline: 2px solid red;
		pointer-events: none;
	}
}

#win {
	padding-top: 3rem;
	overflow: visible;

	.unicorn {
		background-color: white;
		padding: 1.5rem;
		border-radius: 5rem;
		position: absolute;
		font-size: 2rem;
		top: 0;
		left: 50%;
		border: solid 1px black;
		transform: translate(-50%, -50%);
	}

	button {
		border-radius: 0 0 10px 10px;
	}
}
