* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	font: inherit;
}

html,
body {
	height: 100vh;
}

body {
	font-size: 1.2rem;
	font-family: sans-serif;
}

dialog:open {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	border: solid 1px black;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	.title {
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 0.75rem;
	}

	p + p {
		margin-top: 0.5rem;
	}

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(5px);
	}
}

button {
	border-radius: 10px;
	border: solid 1px black;
	padding: 1rem;
	font: inherit;
}

.colors {
	display: flex;
	width: 100%;
	height: 100%;
}

color-bar {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;

	.target {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 4rem;

		div {
			display: none;
			background-color: white;
			padding: 1.5rem;
			border-radius: 5rem;
		}
	}

	&[active="true"] .target div {
		display: block;
	}

	button {
		position: fixed;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);
		padding: 1rem;
	}
}

user-video {
	overflow: hidden;
	position: relative;
	display: block;

	video,
	.frozen-frame {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.sample-marker {
		position: absolute;
		border: 2px solid white;
		outline: 2px solid red;
		pointer-events: none;
	}
}

#win {
	padding-top: 3rem;
	overflow: visible;

	.unicorn {
		background-color: white;
		padding: 1.5rem;
		border-radius: 5rem;
		position: absolute;
		font-size: 2rem;
		top: 0;
		left: 50%;
		border: solid 1px black;
		transform: translate(-50%, -50%);
	}
}
